* {
    font-family: 'Fira Sans', cursive;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.container {
    width: 50%;
    margin: 50px auto;
  
    padding: 20px;
    padding-right: 45px;
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    font-size: 42px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 25px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.form-group button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.form-group button:hover {
    background-color: grey;
}
